  /* ================= トップイメージ ================= */
.topImage{
  width: 70%;
  height: 100vh;
  position: relative;
  right: -30%;
}
  
.topImage{
  background-image: url(media/top1.jpg);
  filter: brightness(110%);
  background-position: center;
  background-size: cover;
}

.topImage h1{
  font-size: 4.5em;
  position: absolute;
  top: 20vh;
  left:-25%;
  color: rgb(210, 39, 39);
  font-weight: bold;
  font-family: 'Bad Script', arial;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

  /* ================= /トップイメージ ================= */

  /* 矢印 */
.arrow{
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 30px;
    height: 60px;
    margin-left: -28px;
    animation: arrowMove 1.2s ease-in-out 0s infinite;
    cursor: pointer;
}

.arrow span{
  position: absolute;
  /* top: -3.5em; */
  /* left: 50%; */
  /* width: 56px; */
  height: 60px;
  border: 1px solid #555;
  /* border-radius: 100%; */
  box-sizing: border-box;
  margin-left:10px;
}

.arrow span::after{
  position: absolute;
  top: 53px;
  left: 50%;
  content: '';
  width: 12px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #555;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

@keyframes arrowMove{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}
/* /矢印 */

.concept{
  max-width: 800px;
  margin: 0em auto ;
  /* border: #111 solid 1px; */
  padding: 7em 2em 3em 2em;
}

.concept h2{
  font-weight: bold;
  font-size: 1.5em;
}

.concept p{
  line-height: 2.6;
  letter-spacing: 0.1em;
  margin-top: 1.3em;
  font-size: 1.12em;
}

.blanc{
  display: block;
}


.profile section{
  padding: 5em 1em;
  box-sizing: border-box;
}

.profile{
  background: rgb(236, 236, 236);
  text-align: center;
}

.contentProfile{
  border: 1px solid #111;
  padding: 2.5em;
  letter-spacing: 0.025em;
}

.contentProfile h2{
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 0.5em;
  display: inline-block;
  padding: 0.2em 0.5em 0;
  border-bottom: 0.31em dotted rgb(255, 90, 90);
}

.contentProfile p{
  font-weight: bold;
  font-size: 1.12em;
  line-height: 2;
}

 .smallText p{
  font-weight: normal;
  font-size: 0.86em;
  margin-top: 1.5em;
  margin-bottom: 0;
}


/*  */
/* media */
/*  */
@media screen and (max-width:480px){
  .topImage{
    height: 100vh;
    width: 100%;
    right: 0%;
  }
  
  .topImage{
    background-image: url(media/top1.jpg);
    filter: brightness(110%);
    background-position: center;
    background-size: cover;
  }

  .topImage h1{
  font-size: 3.2em;
  position: absolute;
  top: 26vh;
  left:5%;
  letter-spacing: 0;
  line-height: 1.4;  
  }

  .profile section{
    padding: 5em 0.5em;
    box-sizing: border-box;
  }

  .concept{
    max-width: 600px;
  }
  
  .concept h2{
    text-align: center;
    line-height: 2.5
  }
  .enter{
    display: block;
  }
  
  .concept p{
    line-height: 2.6;
    font-size: 0.875em;
    letter-spacing: 0em;
    margin-top: 1.3em;
  }

  .blanc{
    display: inline;
  }

  .contentProfile h2{
    padding: 0.2em 0 0;
    line-height: 1.5;
  }

  .contentProfile{
    padding: 2.5em 1em;
    letter-spacing: 0.025em;
  }

  .arrow span{
    border-left: 1px solid rgb(255, 255, 255);
  }

  .arrow span::after{
    border-left: 1px solid rgb(255, 255, 255);
  }

}
