  .backImage{
    background-image: url(media/winter.jpg);
    background-size: cover;
    background-position: center;
    width: 98%;
    margin: 0 auto;
    position: relative;
  }

  .skills{
    margin-top: 3.5em;
    margin-bottom: 2.5em;
    padding-top: 3.75em;
    padding-bottom: 4em;
  }
    

  .box{
    border: 1px solid #111;
    padding: 2.5em;
    margin: 3.75em 1em 0;
    background: rgb(255, 255, 255);
    opacity: 0.95;
  }

  .skills h3{
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.125em;
  }

  .graph{
    margin: 2em 2em 2em; 
  }

  .graph dt{
  margin-top: 1.25em;
  font-style: italic;
  }

  .graph dd{
  background-color: #aaa;
  margin: 0;
  }

  .borderPercent1,.borderPercent2,.borderPercent3,.borderPercent4,.borderPercent5{
    padding: 0.02em 0.5em;
    color: aliceblue;
    font-size: 0.78em;
    width: 0%;
    background:linear-gradient(to left, rgb(255, 143, 98),rgb(235, 193, 188)90%);
  }

  .box p{
    margin: 0 3em;
    font-size: 0.875em;
  }

  @media screen and (max-width:640px){
    .box{
      padding: 2em 0;
      margin: 3.75em 0.5em 0;
    }

    .box h3{
      text-align: center;
      font-size: 1.25em;
    }

    .graph{
      margin: 2em 1em 2em; 
    }
  
    .graph dt{
    margin-top: 1.5em;
    /* margin-left: 0.5em; */
    text-align: center;
    font-weight: bold;
    }

    .box p{
      margin: 0 2em;
    }
  
  

  }