body{
  background-color: rgb(241, 241, 234)
}

.works{
  margin-top: 3.5em;
  margin-bottom: 2.5em;
  padding-top: 3.75em;
  padding-bottom: 4em;
}

.box:first-child{
  margin-top: 3.75em;
}
.box{
  margin-top: 2em;
  display: flex;
}

.boxImage{
  width: 100%;
  background-position: top;
  background-size: cover;
  height: 25em;
  margin: 2em 0;
}

.boxImageTop{
  background-image: url(media/screenTop2.png);
}

.boxImageAbout{
  background-image: url(media/screenAbout2.png);
}

.boxImageSkills{
  background-image: url(media/screenSkills2.png);
}

.boxContent{
  width: 100%;  
  border: 1px solid rgb(100, 100, 100);
  padding: 3.75em 2.5em;
  margin: 0 1em;
}

.boxContent dt{
  font-weight: bold;
}

.boxContent dd{
  font-size: 0.875em;
  margin: 0 1em;
}


.space{
  margin-top: 3em
}


.boxFull .boxContent{
  width: 100%;
  padding: 1em 2.5em;
  text-align: center;
}

.boxFull h3{
  text-align: center;
}

.boxFull p, dd{
  text-align: left;
  display: inline-block;
}

h3{
  margin: 1em;
  font-weight: bold;
}

p{
  margin: 0 1em;
  font-size: 0.875em;
}

@media screen and (max-width:640px){
  .boxImage{
    height: 17.5em;
  }

  .boxContent{
    width: 100%;  
    border: 1px solid rgb(100, 100, 100);
    padding: 3.75em 2.5em;
    margin: 0em 1em;
  }

  .boxContent{
    text-align: center;
  }

}
